
    <div class="row">
        <div class="col-md-6">
            <h2>Biggles i Sverige</h2>
            <p>
                Här finns information om W.E. Johns böcker översatta till svenska.
            </p>
            <p>
                Förutom Bigglesböckerna skrev han även några böcker om
                <a href="#/books/search/Rex">Rex</a>,
                <a href="#/books/search/Worrals">Worrals</a> och
                <a href="#/books/search/King">King</a>.
            </p>
            <p>
                Rättningar, kommentarer eller frågor kan skickas till mig på emil.breding (snabelA) gmail.com
            </p>
        </div>

        <div class="col-md-3">
            <a href="#/book/{{book.titleSwedishSlug}}/{{book.id}}">
                <img ng-src="{{book.coverImagePath}}">
            </a>
        </div>
        <!--
        <div class="col-md-3">
            <carousel interval="5000">
            <slide ng-repeat="book in books" active="book.active">
                <a href="#/book/{{book.titleSwedishSlug}}/{{book.id}}">
                    <img ng-src="{{book.coverImagePath}}" style="margin:auto; padding:10px 25px 10px 25px">
                </a>
            </slide>
            </carousel>
        </div>
        -->
    </div>