    <div class="row">
        <div class="col-md-12">
            <h2>{{title}}</h2>

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Namn</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="name in paginator.itemsInCurrentPage" ng-click="showDetail(name)">
                        <td><a href="#/{{type}}/{{name.nameSlug}}/{{name.id}}">{{name.name}}</a></td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>

                <ul class="pagination">
                    <li ng-class="{disabled: paginator.currentPage==1}"><a href="" ng-click="paginator.setPage(1)">&laquo;</a></li>
                    <li ng-class="{active: n==paginator.currentPage}" ng-repeat="n in paginator.range()"><a href="" ng-click="paginator.setPage(n)">{{n}}</a></li>
                    <li ng-class="{disabled: paginator.noOfPages==paginator.currentPage}"><a href="" ng-click="paginator.setPage(paginator.noOfPages)">&raquo;</a></li>
                </ul>

            </div>
        </div>
    </div>