<!DOCTYPE html>
<html lang="sv" ng-app="bigglesapp">

<head>
    <title>Biggles</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Bootstrap -->
    <link href="resources/css/bootstrap-3.0.min.css" rel="stylesheet" media="screen">
</head>

<body>

    <div class="navbar navbar-default" ng-controller="HeaderController">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Bigglesböcker</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    <!--<li class="active"><a href="#">Home</a></li>-->

                    <li ng-class="{ active: isActive('/titles')}" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Titlar <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#/titles/alpha">Bokstavsordning</a>
                                <a href="#/titles/chrono">Ordning av händelse</a>
                            </li>
                        </ul>
                    </li>

                    <li ng-class="{ active: isActive('/translators')}"><a href="#/translators" >Översättare</a></li>
                    <li ng-class="{ active: isActive('/illustrators')}"><a href="#/illustrators">Illustratörer</a></li>
                    <li ng-class="{ active: isActive('/publishers')}"><a href="#/publishers">Förlag</a></li>

                </ul>
                <form class="navbar-form navbar-right" ng-controller="BookSearchCtrl">
                    <div class="form-group">
                        <input type="text" placeholder="Titel" class="form-control" ng-model="searchTerm" name="searchTerm">
                    </div>
                    <button type="submit" class="btn btn-success" ng-click="doSearch()">Sök</button>
                </form>
            </div><!--/.navbar-collapse -->
        </div>
    </div>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div ng-show="showJumboTron" class="jumbotron">
        <div class="container">
            <h1>Biggles i Sverige</h1>
        </div>
    </div>

    <div class="container">
        <div ng-view>

        </div>
    </div>

    <div class="container">
        <hr>
        <footer>
            <p>&copy; Emil Breding 2013</p>
        </footer>
    </div>

    <!-- Angular -->
    <script src="resources/js/lib/angular-1.0.8.min.js"></script>
    <script src="resources/js/lib/ui-bootstrap-tpls-0.6.0-SNAPSHOT.min.js"></script>
    <!--<script src="resources/js/lib/angular-1.2.0rc1.min.js"></script>-->
    <script src="resources/js/BigglesControllers.js"></script>
    <script src="resources/js/BigglesApp.js"></script>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="resources/js/lib/jquery-2.0.3.min.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="resources/js/lib/bootstrap-3.0.min.js"></script>
</body>

</html>